:root {
  --black: #000000;
  --orange: #ff5c00;
  --white: #ffffff;
  --yellow: #ffab08;
}
body.no-scroll {
  overflow: hidden; /* Отключает прокрутку */
}

* {
  font-family: "Nunito", system-ui;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: var(--black);
}
.none {
  display: none;
}

.active {
  background-color: var(--yellow);
}

//header
.header {
  height: 500px;
  background: url("../images/bg.png") no-repeat center center / cover;
  .container {
    width: 1420px;
    margin: 0 auto;
    padding: 0 10px;
    .header_logo {
      width: 150px;
      margin: 0 auto;
      padding: 24px 0;
      .header_logo-link {
        .header_logo-img {
        }
      }
    }
    .header_content {
      display: flex;
      justify-content: center;
      gap: 60px;
      margin-top: 20px;
      .header_content_burger {
        .header_content_burger-img {
        }
      }
      .header_content_title {
        margin: 46px 0;
        .white {
          font-size: 50px;
          font-weight: 800;
          color: var(--white);
        }
        .orange {
          line-height: 40px;
          font-weight: 800;
          font-size: 50px;
          color: var(--orange);
        }
        .free {
          font-size: 16px;
          margin-top: 52px;
          color: var(--white);
          span {
            font-weight: 600;
          }
        }
      }
    }
  }
}

.main {
  .container {
    width: 1420px;
    margin: 0 auto;
    padding: 0 10px;

    // nav
    .nav {
      margin-top: 40px;
      .nav-list {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 40px;
        list-style: none;
        .nav-item {
          .nav-btn {
            display: flex;
            justify-content: space-around;
            align-items: center;
            border-radius: 50px;
            padding: 8px 14px;
            cursor: pointer;
            .nav-img {
            }
            .nav-text {
            }
          }
        }
      }
    }
    .shop {
      margin-top: 30px;
      display: flex;
      justify-content: center;
      align-items: start;
      gap: 50px;
    }
    .catalog {
      width: 960px;
      .catalog-title {
        margin-bottom: 10px;
      }
      .cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 25px;

        .card {
          width: 300px;
          padding: 8px;
          transition: transform 1s ease, border 0.5s ease-in;
          &:hover {
            border: 1px solid var(--yellow);
            border-radius: 30px;
            transform: scale(1.05);
          }
          .card-img {
          }
          .card-price {
            font-size: 24px;
            font-weight: 600;
          }
          .card-name {
            font-size: 16px;
            font-weight: 400;
          }
          .card-weight {
            margin: 20px 0 10px;
            font-style: 16px;
            font-weight: 600;
            opacity: 0.5;
          }
          .card-btn {
            padding: 6px 0;
            width: 90%;
            border: none;
            cursor: pointer;
          }
        }
      }
    }
  }
}

// footer
.footer {
  .container {
    width: 1420px;
    margin: 50px auto 0;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: start;
    .copyright {
      .copyright-logo {
      }
      .copyright-text {
        font-size: 12px;
        margin-top: 30px;
      }
    }
    .contacts {
      display: flex;
      justify-content: space-around;
      gap: 125px;
      .contacts_tel {
        .contacts-title {
          margin-bottom: 15px;
          font-size: 24px;
        }
        .contacts-link {
          display: flex;
          align-items: center;
          text-align: center;
          .contacts-img {
          }
        }
      }
      .contacts_socials {
        .contacts-title {
          margin-bottom: 15px;
          font-size: 24px;
        }
        .contacts_socials-list {
          list-style: none;
          display: flex;
          justify-content: flex-start;
          gap: 15px;
          .contacts_socials-item {
            .contacts-img {
            }
          }
        }
      }
    }
  }
}


.modal {
  position: absolute; /* Фиксированное позиционирование для перекрытия */
  top: 0;
  left: 0;
  width: 100%; /* Ширина на 100% от видимой области */
  height: 100%; /* Высота на 100% от видимой области */
  background-color: rgba(0, 0, 0, 0.5); /* Полупрозрачный фон */
  display: flex;
  justify-content: center; /* Центрируем по горизонтали */
  align-items: center; /* Центрируем по вертикали */

  &.none{
    display: none;
  }
  .payment {
    width: 700px; /* Ширина модального окна */
    height: 432px; /* Высота модального окна */
    background-color: white; /* Цвет фона */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    position: relative; /* Относительное позиционирование для содержимого */
    border-radius: 20px; /* Скругление углов */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); /* Тень для эффекта модального окна */
    .payment_donut {
      height: 100%;
      background-color: var(--yellow);
      border-radius: 20px;
      .payment_donut-img {
        padding: 0 20px;
        margin-top: 25%;
      }
    }
    .payment_content {
      height: 100%;
      padding-left: 20px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      .payment_content-title {
        font-size: 26px;
        font-weight: 600;
      }
      .payment_content-form {
        .payment_content-input {
          width: 90%;
          border: none;
          height: 50px;
          padding: 2px 20px;
          font-size: 16px;
        }
        .payment_content-label {
          display: block;
          margin: 5px 0;
          .payment_content-radio {
          }
        }
        .flex-inputs {
          display: flex;
          gap: 10px;
        }
      }
      .payment_content-button {
        margin: 0 auto;
        display: block;
        width: 90%;
        height: 40px;
        color: var(--white);
        border: none;
        border-radius: 10px;
        background-color: var(--orange);
        cursor: pointer;
      }
    }
  }
}
